$blue-dark: #026e78;
$blue-light: #2d99a4;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

main {
  width: 90%;
  max-width: 850px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: inline-block;
}

.blur--top {
  z-index: -1;
  top: 0;
  position: absolute;
  background-image: linear-gradient(to bottom, #2d99a4, #ffffff6e, #2d98a400);
  width: 100%;
  min-height: 20rem;
}

.blur--left {
  z-index: -2;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(to right, #ffffffe3, #ffffff52, #2d98a400);
  height: 100%;
  width: 50%;
}

header {
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.5rem;

  .logo-box {
    color: $blue-dark;
    float: left;
    margin-right: 1rem;
  }

  .name {
    margin-left: 1rem;
    display: inline-block;
    font-size: 3.5rem;
  }

  .phone {
    color: $white;
    float: right;
    font-size: 2rem;
    padding: 1rem;
  }
}

nav {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  padding: 0.8rem 2.5rem;
  border: none;
  font-weight: 400;
  flex-grow: 1;
  font-size: 1.1rem;

  &--white {
    background-color: $white;
    color: $blue-dark;
  }

  &--blueLight {
    background-color: $blue-light;
    color: $white;
  }

  &--blueDark {
    background-color: $blue-dark;
    color: $white;
  }
}

section {
  margin: 6rem 0;

  .btn {
    display: block;
    margin: 1rem 0;
    padding: 0.4em 0.7em;

    &--blueDark {
      font-size: 3rem;
      font-weight: 100;
    }

    &--white {
      font-size: 1.5rem;
    }

    &--blueLight {
      font-size: 1.6rem;
    }
  }
}
