$blue-dark: #026e78;
$blue-light: #2d99a4;
$white: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

main {
  width: 85%;
  max-width: 850px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

img {
  display: inline-block;
}

header {
  font-weight: 700;
  margin-top: 1rem;
  padding: 1rem;

  .logo-box {
    color: $blue-dark;
    float: left;
  }

  .name {
    margin-left: 1rem;
    display: inline-block;
    font-size: 3.5rem;
  }

  .phone {
    color: $white;
    float: right;
    font-size: 2rem;
    padding: 1rem;
  }
}

nav {
  margin: 1rem;
}

section {
}

.btn {
  padding: 1rem;
  border: none;
  font-weight: 400;

  &--white {
    background-color: $white;
  }

  &--blueLight {
    background-color: $blue-light;
  }

  &--blueDark {
    background-color: $blue-dark;
  }
}

section .btn {
  font-weight: 300;
  display: block;
}
